.user-info-table {
  width: 100%;
  
  .rt-TableCell {
    padding: 1rem;
    
    &:first-child {
      font-weight: 500;
      width: 150px;
      background-color: var(--gray-2);
    }
  }
  
  .rt-TableRow {
    &:hover {
      background-color: var(--gray-1);
    }
  }
}